<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilisepakistan.pdma">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--            android:value="@integer/google_play_services_version" />-->
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="${MAPS_API_KEY}" />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSNUzCDjt1SEhbn6EvYtyRL4TK-0m_BN8" />

        <activity

            android:noHistory="true"
            android:name="com.mobilisepakistan.pdma.signup.LogIn"></activity>
        <activity
            android:name="com.mobilisepakistan.pdma.Splash"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobilisepakistan.pdma.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="false"
            android:name="com.mobilisepakistan.pdma.report.ReportDisaster"
            android:label="Report A Disaster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.pdma.gps.ShowLocationActivity2"
            android:label="Report A Disaster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.pdma.gps.ShowlocaitonActivityNew"
            android:label="Report A Disaster"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.pdma.AboutApp"
            android:label="Report A Disaster"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.WeatherAdvisOption"
            android:label="Report A Disaster"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.PMDwebView"
            android:label="Report A Disaster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.pdma.report.RecyclerViewA"
            android:label="Report A Disaster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="false"
            android:name="com.mobilisepakistan.pdma.report.RapidNeedAssessment"
            android:label="Rapid Need Assessment "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="false"
            android:name="com.mobilisepakistan.pdma.report.DemageNeedAssesment"
            android:label="Demage Need Assessment "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.pdma.report.DemagesLosses"
            android:label="Demage Need Assessment "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.pdma.report.EarlyWarning"
            android:label="EarlyWarnings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.pdma.report.DailySituationReport"
            android:label="Daily Situation Report "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.pdma.report.WeatherForecast"
            android:label="Daily Situation Report "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="false"
            android:name="com.mobilisepakistan.pdma.signup.SignUp"
            android:label="SingnUP"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.pdma.report.EmergencyContact"
            android:label="SingnUP"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:noHistory="false"
            android:name="com.mobilisepakistan.pdma.report.EvacuationCenter"
            android:label="SingnUP"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.pdma.MapsMarkerActivity"
            android:label="SingnUP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.pdma.CommunityOutreach"
            android:label="CommunityOutreach"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:noHistory="false"
            android:name="com.mobilisepakistan.pdma.report.QuickLink"
            android:label="SingnUP"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:noHistory="true"
            android:name="com.mobilisepakistan.pdma.report.UploadToServer"
            android:label="SingnUP"
            android:theme="@style/AppTheme.NoActionBar" />


        <receiver android:name = "MyReceiver">
            <intent-filter>
                <action android:name = "android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name = "android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>