<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilisepakistan.civilprotection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mobilisepakistan.civilprotection.signup.LogIn"></activity>
        <activity
            android:name="com.mobilisepakistan.civilprotection.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobilisepakistan.civilprotection.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.report.ReportDisaster"
            android:label="Report A Disaster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.weather.getweather"
            android:label="Get weather"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.gps.ShowLocationActivity"
            android:label="Report A Disaster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.gps.ShowLocationActivity2"
            android:label="Report A Disaster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.report.RecyclerViewA"
            android:label="Report A Disaster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.report.RapidNeedAssessment"
            android:label="Rapid Need Assessment "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.report.DemageNeedAssesment"
            android:label="Demage Need Assessment "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.report.DemagesLosses"
            android:label="Demage Need Assessment "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.report.EarlyWarning"
            android:label="EarlyWarnings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.report.DailySituationReport"
            android:label="Daily Situation Report "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.report.WeatherForecast"
            android:label="Daily Situation Report "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobilisepakistan.civilprotection.signup.SignUp"
            android:label="SingnUP"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.mobilisepakistan.civilprotection.report.UploadToServer"
            android:label="SingnUP"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>